body {
  margin: 0;
  background: linear-gradient(to right, #020617, #020617);
  font-family: Arial;
  color: white;
}


/* Auth Layout */

.auth-container {

  width: 360px;
  margin: 100px auto;
  background: #020617;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0,0,0,0.8);
}

.auth-container h1 {
  color: #38bdf8;
}

.auth-container input {

  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

.auth-container button {

  width: 95%;
  padding: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.auth-container button:hover {
  background: #0284c7;
}

.auth-container a {
  color: #38bdf8;
}

.error {
  color: red;
}
